{% include svg-icons.html %}

{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
{% endif %}


<!-- 载入GitHub按钮库 -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Star按钮 -->
<a class="github-button" 
  href="https://github.com/KwanWaiPang/KwanWaiPang.github.io" 
  data-icon="octicon-star" 
  data-size="large"
  data-show-count="true" 
  aria-label="Star 你的用户名/你的仓库名 on GitHub">Star</a>


<!--不算子网站访客统计-->
<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>  -->

<!-- 显示站点总访问量 -->
<!-- pv的方式，单个用户连续点击n篇文章，记录n次访问量 -->
<div align="center">
	<span id="busuanzi_container_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;">
		View:<span id="busuanzi_value_site_pv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
	</span>
	<!-- uv的方式，单个用户连续点击n篇文章，只记录1次访客数 -->
	<span id="busuanzi_container_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;">
		User:<span id="busuanzi_value_site_uv" style="font-family:Consolas;color:Silver;font-size:12px;"></span>
	</span>
</div>

<!--  先放置统计显示元素,后加载脚本 -->
<script src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>